<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGet.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SGet.Core.Properties.Settings>
            <setting name="ShowGrid" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="ShowProperties" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="StartOnSystemStartup" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="ShowWindowOnStartup" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="StartDownloadsOnStartup" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="CloseToTray" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="ShowBalloonNotification" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="ConfirmDelete" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="bool">
                <value>True</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value>C:\Downloads\</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="int">
                <value>5</value>
            </setting>
            <setting name="EnableSpeedLimit" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="SpeedLimit" serializeAs="int">
                <value>200</value>
            </setting>
            <setting name="MemoryCacheSize" serializeAs="int">
                <value>1024</value>
            </setting>
            <setting name="ManualProxyConfig" serializeAs="bool">
                <value>False</value>
            </setting>
            <setting name="HttpProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="int">
                <value>0</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
        </SGet.Core.Properties.Settings>
    </userSettings>
</configuration>